body {
    color: white;
    background: rgb(128, 2, 147);
    margin: 0px
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}   header {
    border: solid 2px rgb(228, 42, 178);
}   header {
    border-bottom: solid 2px rgb(228, 42, 178);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}   section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}   div {
    margin-right: 20px;
}/* código omitido */

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    section {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
      }
}

.chamada {
    margin-right: 5%;
    h1 {
        font-size: 40px;
      }
}p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    /* código omitido */

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
   
    .categoria-videos img:hover {
        opacity: 1.0;
    }
    
    .categoria h2 {
    color: rgb(42, 122, 228);
    }
}
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* código omitido */

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }